<h1>PDDIKTI</h1>
<%= form_with url: "/dikti", method: :get do |form| %>
  <%= form.label :id, "ID Mahasiswa:" %>
  <%= form.text_field :id %>
  <%= form.submit "Search" %>
<% end %>
<% if @student.present? %>
<h2>Data Mahasiswa</h2>
<table>
  <tr>
    <th>Program Studi:</th>
    <td>Teknik Informatika</td>
  </tr>
  <tr>
    <th>NIM:</th>
    <td><%= @student.id %></td>
  </tr>
  <tr>
    <th>Nama:</th>
    <td><%= @student.name %></td>
  </tr>
</table>
<h2>Data Perkuliahan</h2>
<table>
  <tr>
    <th>Nama Mata Kuliah</th>
    <td>Dasar Dasar Pemrograman</td>
  </tr>
  <% if @grade.present? %>
  <tr>
    <th>Lulus</th>
    <td><%= @grade.graduated %></td>
  </tr>
  <% else %>
  <tr>
    <th>Lulus</th>
    <td>Nilai belum keluar</td>
  </tr>
  <% end %>
</table>
<% end %>